include utils.pug
doctype html
html
  head
    title="Project Zuora"
    link(rel='stylesheet' href='/stylesheets/question_edit_styles.css')
    link(rel='stylesheet' href='/stylesheets/nav.css')
  body
    +navBar()
    h3 Edit a question
    +validationErrorSummary(errors)
    .question-edit-inner-container
        .question-edit-inner
            form(action=`/questions/${questionId}/edit` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                +field('Title', 'title', question.title , "text")
                +field('Content', 'content', question.content, "textarea")
                +field('Picture URL', 'media', question.media, "text")
                label(for="tagId") Choose Tag
                select(name="tagId")
                    each tag in tags
                        option(value=tag.id)= tag.name
                div(class='py-4')
                    button(type='submit' class='question-edit-button') Submit
                    a(href=`/questions` class='cancel-edit-button') Cancel
    .question-edit-inner-container
        .question-edit-inner
            p Would you like to delete your question permanently?
            form(action=`/questions/${questionId}/delete` method="POST")
                input(type='hidden' name='_csrf' value=csrfToken)
                button(type='submit' class='question-delete-button') Delete
