include utils.pug
doctype html
html
  head
      block head
        title="Project Zuora"
        link(rel='stylesheet' href='/stylesheets/questions.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')

  body
    +navBar()
    h1(id='title-of-page') Project Zuora #{title}
    if(locals.authenticated)
      .ask_container
        a(href="/questions/add" id="ask-button") Ask a Question
    div.container
      div.sideBar
        ul.sideBarList
          p(class='side-bar-title') List of games
          each tag in tags
            li.listItem
              a(href=`/questions/tag/${tag.id}` class="tag-link")= tag.name
      div.main
        if(locals.authenticated)
          a(href= "/questions/add" class="question_link") Ask a Question
        each question in questions
          div.question
            div.question_head
              div.user_img
                if (question.User.picSrc)
                  img(src=question.User.picSrc class="user_profile_pic")
                else
                  img( class="user_profile_pic" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
              div.head_text
                div.question_head_upper
                  a(href=`/users/${question.userId}` class='user_profile_link')= question.User.fullName
                div.question_head_lower
                  p= question.User.credentials
            div.question_body
              div.question_body_title
                p= (`Game: ${question.Tag.name}`)
                br
              div.question_body_title
                p= question.title
              div.question_body_content
                p= question.content
              if (question.media)
                div.question_body_img
                  img(class="questions_img" src=question.media)
              //- else
                div.question_body_img
                  img(class="questions_img" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
            div.question_footer
              div.post_answer(id=`post_answer_${question.id}`)
                button View Thread
              if(locals.authenticated)
                if(question.userId===locals.user.id)
                  div.post_answer
                    button 
                      a(href=`/questions/${question.id}/edit` class="question_edit") Edit Question
            .answer-inner-container(id=`inner_container_${question.id}`)
              if(locals.authenticated)
                .answer-inner
                  if(loggedInUser.picSrc)
                    img(src=loggedInUser.picSrc class='user_profile_pic_answer')
                  else
                    img(class="user_profile_pic" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
                  form(action=`/questions/${question.User.id}/answers` method="POST")
                    input(type='hidden' name='_csrf' value=csrfToken)
                    div.inner-input-container
                      input(type='text' id=`answer-content-${question.id}` name=locals.user.id value='' placeholder='Your answer here' class='answer-popup-form')
                      button(type='submit' id=`${question.id}` data-id=locals.user.id class='submit-answer-button') Submit Answer
            div.answer_section(class=`answer-section-${question.id}` id=`${question.id}`)
             if(question.Answers.length < 1)
              p(class=`no_answers` id=`no_answers_question_${question.id}`) No Answers Submitted
             each answer in question.Answers
               div.answer(id=`answer-div-${answer.id}`)
                 div.answer_head
                   if (answer.User.picSrc)
                    img(src=answer.User.picSrc class="user_profile_pic")
                   else
                     img(class="user_profile_pic" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
                   if (question.Answers)
                     div.answer_details
                       p.answer_user_name= answer.User.fullName
                       p.answer_date= answer.createdAt
                 div.answer_content
                   p.p_answer_content(id=`answer_content_${answer.id}`)= answer.content
                   if locals.authenticated
                     button.show_comments_btn.reply_answer_btn(id=`${answer.id}` name=`${locals.user.id}`) Reply
                       if(answer.userId===locals.user.id)
                        button(class='edit_answer_btn' name=`${answer.id}`) Edit
                       if(answer.userId===locals.user.id)
                        button(class='delete_answer_btn' name=`${answer.id}`) Delete

               div.comment_section

                if(answer.Comments.length > 0)
                  p(class="answers_header" id=`comment_head_${answer.id}`) Comments
                .entire_comments(id=`full_comment_${answer.id}`)
                  each comment in answer.Comments
                    div.total_comment(id=`comment_answer_${answer.id}` class=`total_comment_${comment.id}` name=`${comment.id}`)
                      div.comment_head
                        if(answer.Comments)
                            img(src=comment.User.picSrc class="user_profile_pic_comment")
                            div.user_comment_details
                              p.user_of_comment= comment.User.fullName
                              p= comment.createdAt
                      div.comment_body
                        p.comment_content(id=`comment_content_${comment.id}`)= comment.content
                        if locals.authenticated
                          if(comment.userId===locals.user.id)
                            button(class='edit_comment_btn' name=`${comment.id}`) Edit
                          if(comment.userId===locals.user.id)
                            button(class='delete_comment_btn' name=`${comment.id}`) Delete


      div.right_img
        img(src="https://freepngimg.com/thumb/the_legend_of_zelda/21249-6-zelda-link-hd.png")
        script
          include ../public/javascript/question-page.js
