include utils.pug
doctype html
html
  head
      block head
        title="Project Zuora"
        link(rel='stylesheet' href='/stylesheets/questions.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
        script
          include ../public/javascript/question-page.js

  body
    +navBar()
    div.container
      div.sideBar
        ul.sideBarList
          each tag in tags
            li.listItem= tag.name
          each tag in tags
            li.listItem= tag.name
          each tag in tags
            li.listItem= tag.name
          each tag in tags
            li.listItem= tag.name
          each tag in tags
            li.listItem= tag.name
          each tag in tags
            li.listItem= tag.name
          each tag in tags
            li.listItem= tag.name
      div.main
        each question in questions
          div.question
            div.question_head
              div.user_img
                img(src=question.User.picSrc class="user_profile_pic")
              div.head_text
                div.question_head_upper
                  p= question.User.fullName
                div.question_head_lower
                  p= question.User.credentials
            div.question_body
              div.question_body_title
                p= question.title
              div.question_body_content
                p= question.content
              div.question_body_img
                img(src=question.media)
            div.question_footer
              div.post_answer
                button.post_answer Post Answer
              div
                button.view_thread_btn View Thread
            div.answers_section
              div.answer
                div.answer_head
                  img(src=question.User.picSrc class="user_profile_pic")
                div.answer_details
                  p.answer_user_name= question.Answers[0].User.fullName
                  p.answer_creds= question.Answers[0].streetCred
                  p.answer_date= question.Answers[0].createdAt
              div.answer_content
                p.answer_content= question.Answers[0].content
      div.right_img
        img(src="https://freepngimg.com/thumb/the_legend_of_zelda/21249-6-zelda-link-hd.png")
