include utils.pug
doctype html
html
  head
      block head
        title="Project Zuora"
        link(rel='stylesheet' href='/stylesheets/questions.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')

  body
    +navBar()
    div.container
      div.sideBar
        ul.sideBarList
          each tag in tags
            li.listItem= tag.name
      div.main
        each question in questions
          div.question
            div.question_head
              div.user_img
                if (question.User.picSrc)
                  img(src=question.User.picSrc class="user_profile_pic")
                else
                  img( class="user_profile_pic" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
              div.head_text
                div.question_head_upper
                  a(href=`/users/${question.userId}` class='user_profile_link')= question.User.fullName
                div.question_head_lower
                  p= question.User.credentials
            div.question_body
              div.question_body_title
                p= question.title
              div.question_body_content
                p= question.content
              if (question.media)
                div.question_body_img
                  img(class="questions_img" src=question.media)
              else
                div.question_body_img
                img(class="questions_img" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
            div.question_footer
              div.post_answer
                button Post Answer
              div
                button.view_thread_btn View Thread
            div.answer_section
              each answer in question.Answers
                div.answer
                  div.answer_head
                    if(answer.User.picSrc)
                      img(src=answer.User.picSrc class="user_profile_pic")
                    else
                      img(class="questions_img" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
                  div.answer_details
                if (question.Answers)
                    p.answer_user_name= answer.User.fullName
                    p.answer_creds= answer.streetCred
                    p.answer_date= answer.createdAt
                div.answer_content
                  p.answer_content= answer.content
      div.right_img
        img(src="https://freepngimg.com/thumb/the_legend_of_zelda/21249-6-zelda-link-hd.png")
        script
          include ../public/javascript/question-page.js
