
include utils.pug
doctype html
html
    head
        block head
            title=`Project Zuora - ${user.fullName}`
            link(rel='stylesheet' href='/stylesheets/profile-page.css')
            link(rel='stylesheet' href='/stylesheets/nav.css')
    body
    +navBar()
    div(class='profile-box')
        div(class='pic-name-cred')
            div(class='pic-box')
                if(user.picSrc)
                    img(class='profile-pic' src=`${user.picSrc}`)
                else
                    img(class='profile-pic' src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
            div(class='name-cred-box')
                h1(class='profile-name')=`${user.fullName}`
                p(class='cred')=`${user.credentials}`
        div(class='bio-box')
            p(class='bio')=`${user.bio}`
        div(class='feed-box')
            h2(class='feed-title')='My Feed'
            div.main
            each question in user.Questions
              div.question
                div.question_head
                  div.user_img
                    if (user.picSrc)
                      img(src=user.picSrc class="user_profile_pic")
                    else
                      img( class="user_profile_pic" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
                  div.head_text
                    div.question_head_upper
                      a(href=`/users/${userId}` class='user_profile_link')= user.fullName
                    div.question_head_lower
                      p= user.credentials
                div.question_body
                  div.question_body_title
                    p= question.title
                  div.question_body_content
                    p= question.content
                  if (question.media)
                    div.question_body_img
                      img(class="questions_img" src=question.media)
                  else
                    div.question_body_img
                      img(class="questions_img" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
                div.question_footer
                  div.post_answer
                    button View Thread
                .answer-inner-container
                  if(locals.authenticated)
                    .answer-inner
                      img(src=loggedInUser.picSrc class='user_profile_pic_answer')
                      form(action=`/questions/${user.id}/answers` method="POST")
                        input(type='hidden' name='_csrf' value=csrfToken)
                        div.inner-input-container
                          input(type='text' id=`answer-content-${question.id}` name=locals.user.id value='' placeholder='Your answer here' class='answer-popup-form')
                          button(type='submit'  id=question.id data-id=locals.user.id class='submit-answer-button') Submit Answer
                        //- a(href=`/questions/` class='cancel-answer-button') Cancel
                div.answer_section(class=`answer-section-${question.id}`)
                 each answer in question.Answers
                   div.answer(id=`answer-div-${answer.id}`)
                     div.answer_head
                      if(answer.User.picSrc)
                        img(src=answer.User.picSrc class="user_profile_pic")
                      else
                        img(class="questions_img" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
                      if (question.Answers)
                        div.answer_details
                          p.answer_user_name= answer.User.fullName
                          p.answer_date= answer.createdAt
                     div.answer_content
                       p.p_answer_content(id=`answer_content_${answer.id}`)= answer.content
                       if locals.authenticated
                         button.show_comments_btn.reply_answer_btn Reply
                           if(answer.userId===locals.user.id)
                            button(class='edit_answer_btn' name=`${answer.id}`) Edit
                           if(answer.userId===locals.user.id)
                            button(class='delete_answer_btn' name=`${answer.id}`) Delete

                   div.comment_section
                     if(answer.Comments.length > 0)
                       p(class="answers_header" id=`comment_head_${answer.id}`) Comments
                     each comment in answer.Comments
                      div.total_comment(id=`comment_answer_${answer.id}` class=`total_comment_${comment.id}` name=`${comment.id}`)
                       div.comment_head
                          img(src=comment.User.picSrc class="user_profile_pic_comment")
                          div.user_comment_details
                            p.user_of_comment= comment.User.fullName
                            p= comment.createdAt
                       div.comment_body
                         p.comment_content(id=`comment_content_${comment.id}`)= comment.content
                         if locals.authenticated
                          if(comment.userId===locals.user.id)
                            button(class='edit_comment_btn' name=`${comment.id}`) Edit
                          if(comment.userId===locals.user.id)
                            button(class='delete_comment_btn' name=`${comment.id}`) Delete
