
include utils.pug
doctype html
html
    head
        block head
            title=`Project Zuora - ${user.fullName}`
            link(rel='stylesheet' href='/stylesheets/profile-page.css')
    body
        div(class='profile-box')
            div(class='pic-name-cred')
                div(class='pic-box')
                    img(class='profile-pic' src=`${user.picSrc}`)
                div(class='name-cred-box')
                    h1(class='profile-name')=`${user.fullName}`
                    p(class='cred')=`${user.credentials}`
            div(class='bio-box')
                p(class='bio')=`${user.bio}`
            //- div(class='under-profile-toolbar')
            //-     button(type='button' id='feed')='Feed'
            //-     button(type='button' id='questions')='My Questions'
            //-     button(type='button' id='answers')='My Answers'
            div(class='feed-box')
                h2(class='feed-title')='My Feed'
                div(class='feed-content')
                    p='CONTENT IN MY FEED'
