
include utils.pug
doctype html
html
    head
        block head
            title=`Project Zuora - ${user.fullName}`
            link(rel='stylesheet' href='/stylesheets/profile-page.css')
            link(rel='stylesheet' href='/stylesheets/nav.css')
            script
                include ../public/javascript/profile-front.js
    body
    +navBar()
    div(class='profile-box')
        div(class='pic-name-cred')
            div(class='pic-box')
                if(user.picSrc)
                    img(class='profile-pic' src=`${user.picSrc}`)
                else
                    img(class='profile-pic' src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
            div(class='name-cred-box')
                h1(class='profile-name')=`${user.fullName}`
                p(class='cred')=`${user.credentials}`
        div(class='bio-box')
            p(class='bio')=`${user.bio}`
        div(class='feed-box')
            h2(class='feed-title')='My Feed'
            each question in user.Questions
                div.questions_box
                    //- div.question_head
                    //-     div.user_img
                    //-     if (question.User.picSrc)
                    //-         img(src=question.User.picSrc class="user_profile_pic")
                    //-     else
                    //-         img( class="user_profile_pic" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
                    //-     div.head_text
                    //-     div.question_head_upper
                    //-         a(href=`/users/${question.userId}` class='user_profile_link')= question.User.fullName
                    //-     div.question_head_lower
                    //-         p= question.User.credentials
                    div.question_body
                        div.question_body_title
                        p= question.title
                        div.question_body_content
                        p= question.content
                        if (question.media)
                            div.question_body_img
                                img(class="questions_img" src=question.media)
                        else
                            div.question_body_img
                                img(class="questions_img" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
                    div.question_footer
                        div.post_answer
                        button Post Answer
                        div
                        button.view_thread_btn View Thread
                    div.answer_section
                    each answer in question.Answers
                        div.answer
                            div.answer_head
                                //- if(answer.user.picSrc)
                                //-     img(src=answer.User.picSrc class="user_profile_pic")
                                //- else
                                //-     img(class="questions_img" src="https://pngset.com/images/the-legend-of-zelda-zelda-majoras-mask-zora-graphics-art-leisure-activities-person-transparent-png-1598670.png")
                                //- p.answer_user_name= answer.User.fullName
                            div.answer_details
                            if (question.Answers)
                                p.answer_creds= answer.streetCred
                            div.answer_content
                                p.answer_content= answer.content
                                p.answer_date= answer.createdAt
