include utils.pug
doctype html
html
  head
    title="Project Zuora"
    link(rel='stylesheet' href='/stylesheets/user_delete_styles.css')
    link(rel='stylesheet' href='/stylesheets/nav.css')
  body
  h3= user.fullName
  div(class='py-4')
    p Proceed with deleting this user?
  .user-delete-inner-container
        .user-delete-inner
          form(action=`/users/delete/${user.id}` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(class='delete-user-button' type='submit') Delete User
            a(class='cancel-delete-button' href=`/users/${user.id}` role='button') Cancel
