
mixin validationErrorSummary(errors)
  if errors
    div(class='missing_inputs_errors' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class='form-group')
    label(for=fieldName class="label")= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control' rows='5')= fieldValue
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin navBar()
  .nav-bar-full
    .nav-bar-left
      img(src="/images/logo.jpeg", alt="Zuora Logo" id="logo-img")
      a(href="/" class='logo-text') Project Zuora
    .nav-bar-right
      ul(class='nav-link-list')
        li(class='nav-link-li')
          a(href="/questions" class="nav-link-anchor") Questions List
        li(class='nav-link-li')
          a(href="/about" class="nav-link-anchor") About Zuora

        if locals.authenticated
          li(class='nav-link-li')
            a(href=`/users/${locals.user.id}` class="nav-link-anchor") Profile
        if locals.authenticated
          li(class='nav-link-li')
            a(href="/questions/add" class="nav-link-anchor") Ask a Question
        if locals.authenticated
          li(class='nav-link-li')
            form(action="/users/logout" method='post')
              button(type="submit" class="nav-link-anchor logout") Logout
        else
          li(class='nav-link-li')
            a(href="/" class="nav-link-anchor login") Login
          li(class='nav-link-li')
            a(href="/users/register" class="nav-link-anchor") Register
